* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-body);
  background: var(--color-background);
  min-height: 100vh;
  color: var(--color-text);
}

#app {
  min-height: 100vh;
}

